<%- include('../../partials/header') -%>
<%- include('../../partials/navbar') -%>
<div class="container">
    <h1 class="mt-4 text-center">Category Registration</h1>
    <hr>
    <form method="POST" action="/admin/categories/update">
        <label for="title">Category Title</label>
        <input class="form-control" type="text" name="title" placeholder="Insert the category title" value="<%=category.title%>" required>
        <input type="hidden" name="id" value="<%=category.id%>">
        <button class="btn btn-dark mt-3">Save Category</button>
    </form>
    
</div>
<%- include('../../partials/footer') -%>