<%- include('../../partials/header') -%>
<%- include('../../partials/navbar') -%>
<div class="container">
    <hr>
    <h2 class="text-center">Categories</h2>
    <hr>
    <a class="btn btn-dark mb-3" href="/admin/categories/new">Create Category</a>
    <table class="table table-bordered table-hover table-responsive-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach((category) => { %>
                <tr>
                    <td><strong><%=category.id%></strong></td>
                    <td><strong><%=category.title%></strong></td>
                    <td><strong><%=category.slug%></strong></td>

                    <td>
                        <a href="/admin/categories/edit/<%=category.id%>" class="btn btn-success">Edit</a>
                        <form method="POST" action="/admin/categories/delete"  style="display: inline" onsubmit="confirmaDelecao()">
                            <input type="hidden" name="id" value="<%=category.id%>">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            <%})%>
        </tbody>
    </table>
</div>
<%- include('../../partials/footer') -%>
<script type="text/javascript">
    function confirmaDelecao() {
        if(!confirm('Are you sure you want to delete?')) {
            event.preventDefault();
        }
    }
</script>