<%- include('partials/header') -%>
<%- include('partials/homenavbar') -%>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hello! This is a minimalist blog developed by Pedro Maschio</h1>
            <p class="lead">The technologies used to build it were: NodeJS, Ejs (view-engine), 
                Sequelize (ORM for MySQL), TinyMCE (text editor) and Express.
            </p>
            <hr class="my-4">
            <p>Feel free to play with the project or suggest any way to improve it! Thank you.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>


        <h1 class="text-center mb-4 mt-4">Main Articles</h1>
        <% articles.forEach((article) => {%>
            <div class="card">
                <div class="card-header">
                    <a href="article/<%=article.slug%>" style="text-decoration: none; color: black"><h2 class="card-title"><%=article.title%></h2></a>
                </div>
                <div class="card-body">
                    <a href="article/<%=article.slug%>" class="btn btn-success">Read More</a>
                </div>
            <div>
        <%})%>
        <div class="row">
            <div class="col">
                <a href="/articles/page/2" class="btn btn-success float-right">Next</a>
            </div>
            <hr>
        </div>
    </div>
</body>
<%- include('partials/footer') -%>